Flask
Flask-Session
Flask-Mail
Flask-Babel
requests
https://github.com/benoitc/gunicorn/archive/refs/heads/master.zip#egg=gunicorn==20.1.0
psycopg2-binary
dj-database-url
flask_sqlalchemy
flask_script
config
