{% extends "layout.html" %}

{% block title %}
    Orienteering.rate | disq :(
{% endblock %}
{% block body %} 
		<div class="panel panel-default felso">
			<div class="panel-body">
                <h2>{{ _(" 500 Internal server error") }} </h2>
                <p>{{ _("This site is still under development. Unfortunately, you've run into a server error. 
                    Please consider contacting the developer, Sámuel Fekete at feketesamu(at)gmail(dot)com about this error. 
                    Thank you in advance for helping this site!") }}</p>
				<a href="/">{{ _("Back to the frontpage") }}</a>
			</div>	
		</div>		
{% endblock %}