{% extends "layout.html" %}

{% block title %}
    Orienteering.rate | {{ _("My events") }}
{% endblock %}
{% block body %} 
		<div class="panel panel-default felso">
			<div class="panel-body">
				<h1>{{ _("My events") }}</h1>
				<div style='overflow-x:auto'>
					<table id="example3" class="display cent" style="width:100%" align="center">
						<thead>
							<tr>
								<th>{{ _("Event") }}</th>
								<th>{{ _("Start date") }}</th>
								<th>{{ _("End date") }}</th>
								<th>{{ _("Country") }}</th>
								<th>{{ _("Location") }}</th>
								<th>{{ _("Classification") }}</th>					
								<th>{{ _("Edit") }}</th>
							</tr>
						</thead>
						<tbody>
						{% for i in evlist %}
							<tr>
								<td><a class="bold" href = {{"/event/" + i[0]|string }}>{{i[1]}}</a></td>
								<td>{{ i[2]}}</td>
								<td>{{ i[3]}}</td>
								<td>{{ i[4]}}</td>
								<td>{{ i[5]}}</td>
								<td>{{ i[6]}}</td>
								<td><a href= {{"/editevent/" + i[0]|string }}><button type="button" class="btn-sm btn-success">{{ _("Edit") }}</button></td>
							</tr>	
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>		
{% endblock %}