Flask==1.1.2
Flask-Session==0.3.2
Flask-Mail==0.9.1
Flask-Babel==2.0.0
Flask-SocketIO==4.3.1
Flask-WTF==0.14.3
flask_sqlalchemy==2.4.4
flask_script==2.0.6
Jinja2==2.11.2
requests==2.24.0
https://github.com/benoitc/gunicorn/archive/ff58e0c6da83d5520916bc4cc109a529258d76e1.zip#egg=gunicorn==20.1.0
psycopg2-binary==2.8.6
dj-database-url==0.5.0
config==0.5.0.post0
eventlet==0.27.0
BeautifulSoup4==4.9.1
lxml==4.5.2
Werkzeug==1.0.1
