.progress-bar-vertical {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  min-height: 150px;
  display: flex;
  align-items: flex-end;
  float: none;
  background-color: #d3d3d3;
  position: relative;
}

.progress-bar {
	background-color: #28a745;
}
.progress-bar-vertical .progress-bar {
	width: 100%;
	height: 0;
	-webkit-transition: height 0.6s ease;
	-o-transition: height 0.6s ease;
	transition: height 0.6s ease;
	box-shadow: inset 0px 4px 6px rgba(10,10,10,0.6);
}

.p p {
	margin-bottom: 0rem;
	font-weight: bold;
	font-style: normal;
	text-align: center;	
}
.hide {
	display: none;
}
.p {
	padding-left: 8px;
	padding-right: 8px;
}	
.bootstrap-wrapper .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
	border-right: 1px solid #dcdcdc;
}

.disc p {
	padding-bottom: 1px;
	padding-top: 1px;
	margin-bottom: 0px;
}
.rating {
	position: relative;
}
.italic {
	font-style: italic;
}

.cent td, th {
	text-align: center;
}
.fi {
	text-align: left!important;
}
.btn, .btn-sm {
	font-size: 16px;
}
a {
	color: #218838;
}
a:hover {
	color: #1e7e34;
}
.zold {
	color: #218838;
	cursor: pointer;
}	
.zold:hover {
	color: #1e7e34;
}
.szurke {
	color: #b8b8b8;
	cursor: pointer;
}	
.szurke:hover {
	color: #adadad;
}
.btn-sm {
	border-style: none;
}
.btn-link {
	color: #218838;	
}
.btn-link:hover {
	color: #1e7e34;	
}
input, select, h1, h3, button{
	margin-bottom: .5rem;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 10px; /* Specified height */
  background: #e4e4e4; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.85; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  width: 100%;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: url('flag.png');
  cursor: pointer; /* Cursor on hover */
  opacity: 1;
}
.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: url('flag.png');
  cursor: pointer; /* Cursor on hover */
  opacity: 1;
}

.rating input {
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}	

body {
	background-color: #e8e8e8;
}
.form-control:disabled, .form-control[readonly] {
	background-color: #e8e8e8;	
}	

.panel {
	background-color: white;
	margin-bottom: 1rem;
    margin-top: 1rem;
	padding: 1rem;
	border-radius: 10px;
}	
.felso {
	margin-top: 0rem!important;	
}
.felso h3 {
	font-size: 1.2rem;
}		
.rates p {
	margin: 0px;
    text-align: center;
}
.cente {
	text-align: center;
}	
.f {
	margin-bottom: 0px;
}
.bal{
    float: left;
}

.jobb {
    float: left;
}
.clearfix{
    clear:both
}
.bal {
	margin-right: 0.5rem;
}
.also {
	margin-bottom: 1rem;
}
.e {
	padding-left: 16px;
}
.inl {
	display: inline-block;
}
.mar {
	margin-right: 0.5rem;
}
.nopadl {
	padding-right: 2px;
}
.nopadr {
	padding-top: 3px;
    font-size: 20px;
	cursor: default;
}
.rating.cente {
	margin-bottom: 16px;
}	
.kicsi {
	font-size: 14px;
	margin: 0px;
}	
.kicsii {
	font-size: 12px;
}	
.comments p {
	margin: 0px;	
}	
.comm {
	margin-bottom: 0.5rem;	
}	
.fl {
	margin-bottom: auto;
	margin-top: auto;
	padding-left: 1px;
	padding-right: 1px;
}	
.vote {
	font-size: 20px;
}	
.r {
	padding-right: 1px;
	margin-bottom: auto;
	margin-top: auto;
}	
.v {
	margin-bottom: auto;
	margin-top: auto;
}
@media only screen and (min-width: 768px) {
  .mobo {
    display: none!important;
	text-align: center;
  }  
}
@media only screen and (max-width: 768px) {
  .gep {
    display: none!important;
  }
  .body {
	  padding: 0px!important;
	  margin-top: 16px!important;
  }
  .container {
	  padding-right: 5px!important;
	  padding-left: 5px!important;	
	  padding-bottom:70px!important;
  }
  .footer {
    height:70px!important; 
  }
  .rating input {
	padding-left: 4px;
	padding-right: 4px;
  }
  .vertm {
	vertical-align: -webkit-baseline-middle;
  }
  .cs label {
	font-size: small;
  }
}
@media only screen and (max-width: 991px) { 
  .react {
	  display: none;
  }	
}
@media only screen and (max-width: 576px) {
  .p {
    width: 50%;
  }
}
.lpad {
	padding-left: 2px;
	padding-right: 2px;
}
.lpad2 {
padding-right: 20px;
}	

textarea {
	margin-bottom: 0.5rem;
}	
.form-check-input {
	margin-top: 0.5rem;
	margin-left: 0px;
}	
.kicsil {
	font-size: 14px;
	margin-left: 1.25rem;
}
table.dataTable tbody td {
	padding-left: 5px;	
	padding-right: 5px;
}	
.bold {
	font-weight: bold;
}
.noma {
	margin-bottom: 0px;
}
.padd {
	margin-top: 0.5rem;
}
.ball {
	padding-right: 1px;
}
.jobbb {
	padding-left: 1px;
}
.nagy {
	font-size: 18px;
}
html, body {
   margin:0;
   padding:0;
   height:100%;
}
.cont {
   min-height:100%;
   position:relative;
}
.body {
   padding:10px;
   padding-top:16px;
   padding-bottom:50px;   /* Height of the footer */
}
.footer {
	position:absolute;
    bottom:0;
    width:100%;
    height:50px;
	border: 1px solid #dee2e6!important;
	background-color: #f8f9fa!important;
	padding: .5rem 1rem;
	color: rgba(0,0,0,.65);
}
.piros {
	color: red;
}
.over {
	color: #dc3545;
}
.ter {
	color: #28a745;
}
.map {
	color: #f56c1d;
}
.org {
	color: #6c757d;
}
.oorg {	
	padding-right: 11px!important;
}
.padico {
	padding-right: 5px;
}	
.forget {
	margin-bottom: 16px;
}
.alert {
    margin-bottom: 0.5rem;
}	
.paddd {
	padding: 0.5rem;
}
.react {
	padding-left: 0px;
}
.welc {
	text-align: justify;
  	text-justify: inter-word;
}