{% extends "layout.html" %}

{% block title %}
    Orienteering.rate | {{ _("Recover password or username") }}
{% endblock %}
{% block body %}
		<div class="panel panel-default felso">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-0 col-lg-3">
					</div>
					<div class="col-sm-12 col-lg-6">
						<h1> {{ _("Recover password or username ") }}</h1>
						<p>{{ _("Please enter your email. We will send you an email with your username and a link to reset your password.") }}</p>
						<form action="/forgot" method="post" id="forgotform" novalidate>
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<div class="form-group">
								<input autocomplete="off" autofocus class="form-control" id="email" name="email" placeholder='{{ _("Email adress") }}' type="text" oninput="changef(this)" required>
								<div class="valid-feedback">
									{{ _("Looks good!") }}
								</div>
								<div class="invalid-feedback">
									{{ _("Invalid or unused email.") }}
								</div>
							</div>
							<button class="btn btn-success btn-block" onclick="forgotf()" type="submit">{{ _("Send email") }}</button>
						</form>
					</div>
					<div class="col-sm-0 col-lg-3">
					</div>
				</div>
			</div>
		</div>	
{% endblock %}