{% extends "layout.html" %}

{% block title %}
    Orienteering.rate
{% endblock %}
{% block body %} 
	<div class="panel panel-default felso">
		<div class="panel-body">
			<h1>Orienteering.rate</h1>
			<p> {{ _("Welcome to Orienteering.rate! The goal of this website is to give valuable feedback to the organisers of orienteering events. 
			Once you've created an account and logged in, you'll be able to rate events that others have created, and even add a comment to explain your rating. 
			What's more, you can also create events that other people can rate. Please only rate events if you've actually participated in them and keep it civil in the comments.") }}</p>
			<h2>{{ _("List of events") }}</h2>	
			<p class="bold noma">{{ _("Filter the events and ratings!") }}</h2>
			<form action="/" method="post">
				<div class="row">
					<div class="col-sm-12 col-lg-4">
						<label>{{ _("Event type") }}</label>
						<select name="classif" class="form-control">
							<option value="0" {% if filt[0] == 0 %} selected {% endif%}>{{ _("All") }}</option>
							{% for i in classes %}
							<option value="{{i.id}}" {% if filt[0] == i.id %} selected {% endif%} >{{i.value}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-12 col-lg-4">
					<label>{{ _("Country") }}</label>
						<select name="country" class="form-control">
							<option value="0" {% if filt[1] == 0 %} selected {% endif%}>{{ _("All") }}</option>
							{% for i in countries %}
								<option value="{{i.id}}" {% if filt[1] == i.id %} selected {% endif%} >{{i.value}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-12 col-lg-4">
					<label>{{ _("Age group of raters") }}</label>
						<select name="age" class="form-control">
							<option value="0" {% if filt[2] == 0 %} selected {% endif%}>{{ _("All") }}</option>
							{% for i in ages %}
							<option value="{{i.id}}" {% if filt[2] == i.id %} selected {% endif%} >{{i.value}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<button class="btn btn-success bal" type="submit">{{ _("Apply filter") }}</button>
			</form>
			<form action="/" method="get">
				<button class="btn btn-danger jobb" type="submit">{{ _("Clear filter") }}</button>
			</form>
			<div class="clearfix"></div>
			<div style='overflow-x:auto'>	
				<table id="example" class="display cent" style="width:100%" align="center">
					<thead>
						<tr>
							<th>{{ _("Name") }}</th>
							<th>{{ _("Strart date") }}</th>
							<th>{{ _("End date") }}</th>
							<th>{{ _("Country") }}</th>
							<th>{{ _("Location") }}</th>
							<th>{{ _("Average rating") }}</th>
							<th>{{ _("Classification") }}</th>
							<th>{{ _("My rating") }}</th>
						</tr>
					</thead>
					<tbody>
					{% for i in events %}
						<tr>
							<td><a class="bold" href={{i[7]}}>{{ i[1] }}</a></td>
							<td>{{ i[2] }}</td>
							<td>{{ i[3] }}</td>
							<td>{{ i[4] }}</td>
							<td>{{ i[5] }}</td>
							<td>{{ i[9] }}</td>
							<td>{{ i[6] }}</td>
							<td><a href={{i[7]}}>
								{% if i[8] == -1 %}
									<button type="button" class="btn-sm btn-success kicsii">{{ _("Log in to rate it!") }}</button>
								{% elif i[8] == 0 %}
									<button type="button" class="btn-sm btn-success">{{ _("Rate it!") }}</button>
								{% else %}
								<button type="button" class="btn-sm btn-link">{{ i[8] }}</button>
								{% endif %}
							</a>
							</td>
						</tr>	
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>	

{% endblock %}