<!DOCTYPE html>

<html lang="en">

    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://kit.fontawesome.com/1a5ad85633.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
		<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">--->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="/static/style.css" rel="stylesheet">
		<title>{% block title %}{%endblock%}</title>
		{% block temp %}{%endblock%}
		<script type="text/javascript">
			{% block js%}{%endblock%}
			var csrf_token = "{{ csrf_token() }}";

			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrf_token);
					}
				}
			});	

			$(document).ready(function() {
				{% block checkbox%} {%endblock%}   
				$('[data-toggle="tooltip"]').tooltip();
				$('#example').DataTable({
					"order": [[ 3, "desc" ]]
				} );
				$('#example2').DataTable({
					"order": [[ 6, "desc" ]]
				} );
				$('#example3').DataTable({
					"order": [[ 0, "asc" ]]
				} );
			} );
			function updateTextInput(val) {
			document.getElementById('textInput').value=val; 
			}
			function updateTextInput2(val) {
			document.getElementById('textInput2').value=val; 
			}
			function updateTextInput3(val) {
			document.getElementById('textInput3').value=val; 
			}
			function updateTextInput4(val) {
			document.getElementById('textInput4').value=val; 
			}
			function updateTextInput5(val) {
			document.getElementById('textInput5').value=val; 
			}
			function updateTextInput6(val) {
			document.getElementById('textInput6').value=val; 
			}
			function updateTextInput7(val) {
			document.getElementById('textInput7').value=val; 
			}
			function updateTextInput8(val) {
			document.getElementById('textInput8').value=val; 
			}			
			function registerf() {
			event.preventDefault();
			var uname = document.getElementById("valUname");
			var unameval = $.trim(uname.value)
			var em = document.getElementById("valEm");
			var emval = $.trim(em.value)
			var pw =document.getElementById("valPw");
			var conf = document.getElementById("valConf");
			var age = document.getElementById("valAge");
			var er = 0;
			
			var nums = 0;
			for (var i = 0; i < pw.value.length; i++) {
			  if (pw.value.charCodeAt(i)> 47 && pw.value.charCodeAt(i) < 58) {
				nums++;
			  }
			}
			var at = 0;
			var dot = 0;
			for (var i = 0; i < emval.length; i++) {
			  if (emval.charAt(i)== '@') {
				at++;
			  } else if (emval.charAt(i)== '.') {
				dot++;
			  }
			}
			if (at != 1 || dot < 1 || emval.length > 80) {
				em.classList.remove('is-valid');
				em.classList.add('is-invalid');
				er = er +1;
			} else {
				$.ajax({
					url: '/emcheck',
					data: $('#registerform').serialize(),
					type: 'POST',
					success: function(response){
						var resp=JSON.parse(response);
						if (resp.aval) {
							em.classList.add('is-valid');
							em.classList.remove('is-invalid');	
						} else {
							em.classList.remove('is-valid');
							em.classList.add('is-invalid');
							er = er + 1;
						}
					},
					error: function(error){
						console.log(error);
					}
				});	
			}
			if (pw.value.length < 6 || pw.value.length > 30 || nums == 0) {
				pw.classList.remove('is-valid');
				pw.classList.add('is-invalid');
				er = er + 1;
			} else {
				pw.classList.add('is-valid');
				pw.classList.remove('is-invalid');
			}
			if (conf.value.length == 0 || (conf.value != pw.value && conf.value.length != 0)) {
				conf.classList.remove('is-valid');
				conf.classList.add('is-invalid');
				er = er + 1;
			} else {
				conf.classList.add('is-valid');
				conf.classList.remove('is-invalid');
			}
			if (age.value == 0) {
				age.classList.remove('is-valid');
				age.classList.add('is-invalid');
				er = er + 1;
			} else {
				age.classList.add('is-valid');
				age.classList.remove('is-invalid');
			}
			if (unameval.length < 3 ||unameval.length > 30) {
				uname.classList.remove('is-valid');
				uname.classList.add('is-invalid');
				er = er + 1;
			} else {
				$.ajax({
					url: '/uncheck',
					data: $('#registerform').serialize(),
					type: 'POST',
					success: function(response){
						var resp=JSON.parse(response);
						if (resp.aval) {
							uname.classList.add('is-valid');
							uname.classList.remove('is-invalid');
							if (er == 0) {
								document.getElementById("registerform").submit();			
							}
						} else {
							uname.classList.remove('is-valid');
							uname.classList.add('is-invalid');
							er = er + 1;
						}
					},
					error: function(error){
						console.log(error);
					}
				});	
				
			}
				
			}
			function changef(val) {
			val.classList.remove('is-valid', 'is-invalid');
			}
			function editprofile() {
			event.preventDefault();
			var uname = document.getElementById("valUname");
			var unameval = $.trim(uname.value)
			var pw =document.getElementById("valPw");
			var cpw =document.getElementById("valcPw");
			var conf = document.getElementById("valConf");
			var age = document.getElementById("valAge");
			var uncheck = document.getElementById("uncheck");
			var pwcheck = document.getElementById("pwcheck");
			var er = 0;
			if	(uncheck.checked == false) {
				if (unameval.length < 3 || unameval.length > 30) {
					uname.classList.remove('is-valid');
					uname.classList.add('is-invalid');
					er = er + 1;
				} else {
					uname.classList.add('is-valid');
					uname.classList.remove('is-invalid');
				}
			}	
			if	(pwcheck.checked == false) {	
				var nums = 0;
				for (var i = 0; i < pw.value.length; i++) {
				  if (pw.value.charCodeAt(i)> 47 && pw.value.charCodeAt(i) < 58) {
					nums++;
				  }
				}
				if (pw.value.length < 6 || pw.value.length > 30 || nums == 0) {
					pw.classList.remove('is-valid');
					pw.classList.add('is-invalid');
					er = er + 1;
				} else {
					pw.classList.add('is-valid');
					pw.classList.remove('is-invalid');
				}
				if (conf.value.length == 0 || (conf.value != pw.value && conf.value.length != 0)) {
					conf.classList.remove('is-valid');
					conf.classList.add('is-invalid');
					er = er + 1;
				} else {
					conf.classList.add('is-valid');
					conf.classList.remove('is-invalid');
				}
			}	
			if (age.value == 0) {
				age.classList.remove('is-valid');
				age.classList.add('is-invalid');
				er = er + 1;
			} else {
				age.classList.add('is-valid');
				age.classList.remove('is-invalid');
			}
			if (cpw.value.length < 1 || cpw.value.length > 30) {
				cpw.classList.remove('is-valid');
				cpw.classList.add('is-invalid');
				er = er + 1;
			} else {
				cpw.classList.add('is-valid');
				cpw.classList.remove('is-invalid');
			}
			if	(uncheck.checked == false) {	
				$.ajax({
					url: '/uncheck',
					data: $("#editp").serialize(),
					type: 'POST',
					success: function(response){
						var resp=JSON.parse(response);
						if (resp.aval) {
							uname.classList.add('is-valid');
							uname.classList.remove('is-invalid');
						} else {
							uname.classList.remove('is-valid');
							uname.classList.add('is-invalid');
							er = er + 1;
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
			if (er == 0) {
				document.getElementById("editp").submit();			
			}	
			}
			function ressel() {
				event.preventDefault();
				var classe = document.getElementById("resselect");
				if (classe.value == 0) {
					classe.classList.add('is-invalid');
				}	
				else {
					classe.classList.remove('is-invalid');
					document.getElementById("getresults").submit();
				}
			}
			function loginf() {
			event.preventDefault();
			var pw = document.getElementById("password");
			var un = document.getElementById("uname");
			var unameval = $.trim(un.value)
			var er = 0;
			if (unameval.length <1 || unameval.length > 30) {
				un.classList.remove('is-valid');
				un.classList.add('is-invalid');
				er = er + 1;
			} else {	
				un.classList.add('is-valid');
				un.classList.remove('is-invalid');
			}
			$.ajax({
					url: '/pwcheck',
					data: $('#loginform').serialize(),
					type: 'POST',
					success:function(response){
						var resp=JSON.parse(response);
						if (resp.aval == 0) {
							pw.classList.add('is-valid');
							pw.classList.remove('is-invalid');
							if (er == 0) {
								document.getElementById("loginform").submit();	
							}		
						} else if (resp.aval == 2){
							pw.classList.remove('is-valid');
							pw.classList.add('is-invalid');
						} else  {
							un.classList.remove('is-valid');
							un.classList.add('is-invalid');
						}
					},
					error: function(error){
							console.log(error);
						}
				});
			}
			function newf() {
			event.preventDefault();
			var sdate = document.getElementById("valSdate");
			var edate =document.getElementById("valEdate");
			var name = document.getElementById("valName");
			var org = document.getElementById("valOrg");
			var loc = document.getElementById("valLoc");
			var classif = document.getElementById("valClassif");
			var country = document.getElementById("valCountry");
			var link = document.getElementById("valLink");
			var er = 0;
			if (sdate.value > edate.value || sdate.value == 0 || edate.value == 0) {
				sdate.classList.remove('is-valid');
				edate.classList.remove('is-valid');
				sdate.classList.add('is-invalid');
				edate.classList.add('is-invalid');
				er = er + 1;
			}	else {
				sdate.classList.remove('is-invalid');
				edate.classList.remove('is-invalid');
				sdate.classList.add('is-valid');
				edate.classList.add('is-valid');
			}
			if 	(name.value.length < 3 || name.value.length > 255) {
				name.classList.remove('is-valid');
				name.classList.add('is-invalid');
				er = er + 1;
			} else {
				name.classList.add('is-valid');
				name.classList.remove('is-invalid');
			}
			if 	(org.value.length < 3 || org.value.length > 255) {
				org.classList.remove('is-valid');
				org.classList.add('is-invalid');
				er = er + 1;
			} else {
				org.classList.add('is-valid');
				org.classList.remove('is-invalid');
			}
			if (loc.value.length < 3 || loc.value.length > 255) {
				loc.classList.remove('is-valid');
				loc.classList.add('is-invalid');
				er = er + 1;
			} else {
				loc.classList.add('is-valid');
				loc.classList.remove('is-invalid');
			}
			if (link.value.length > 2 && link.value.length < 256 && link.value.startsWith("http")) {
				link.classList.add('is-valid');
				link.classList.remove('is-invalid');
			} else {
				link.classList.remove('is-valid');
				link.classList.add('is-invalid');
				er = er + 1;
			}
			if (classif.value == 0) {
				classif.classList.remove('is-valid');
				classif.classList.add('is-invalid');
				er = er + 1;
			} else {
				classif.classList.add('is-valid');
				classif.classList.remove('is-invalid');
			}
			if (country.value == 0) {
				country.classList.remove('is-valid');
				country.classList.add('is-invalid');
				er = er + 1;
			} else {
				country.classList.add('is-valid');
				country.classList.remove('is-invalid');
			}
			if (er == 0) {
				document.getElementById("newform").submit();			
			}	
			}
			function upvote(n) {
			var tempu = "up".concat(n);
			var tempd = "down".concat(n);
			var form = "#votef".concat(n);
			var rat = ".rat".concat(n);
			var up = document.getElementById(tempu);
			var down = document.getElementById(tempd);
			up.classList.toggle("szurke");
			up.classList.toggle("zold");
			down.classList.remove("zold");
			down.classList.add("szurke");
			if (up.classList.contains("zold")) {	
				$.ajax({
					url: '/upvote',
					data: $(form).serialize(),
					type: 'POST',
					success: function(response){
						var resp=JSON.parse(response);
						$(rat).html(resp.rating)
					},
					error: function(error){
						console.log(error);
					}
				});
			} else {
				$.ajax({
					url: '/voted',
					data: $(form).serialize(),
					type: 'POST',
					success: function(response){
						var resp=JSON.parse(response);
						$(rat).html(resp.rating)
					},
					error: function(error){
						console.log(error);
					}
				});
			}	
			}
			function downvote(n) {
			var tempu = "up".concat(n);
			var tempd = "down".concat(n);
			var form = "#votef".concat(n);
			var rat = ".rat".concat(n);
			var up = document.getElementById(tempu);
			var down = document.getElementById(tempd);
			down.classList.toggle("szurke");
			down.classList.toggle("zold");
			up.classList.remove("zold");
			up.classList.add("szurke");
			if (down.classList.contains("zold")) {	
				$.ajax({
					url: '/downvote',
					data: $(form).serialize(),
					type: 'POST',
					success: function(response){
						var resp=JSON.parse(response);
						$(rat).html(resp.rating)
					},
					error: function(error){
						console.log(error);
					}
				});
			} else {
				$.ajax({
					url: '/voted',
					data: $(form).serialize(),
					type: 'POST',
					success: function(response){
						var resp=JSON.parse(response);
						$(rat).html(resp.rating)
					},
					error: function(error){
						console.log(error);
					}
				});
			}
			}
			function forgotf() {
				event.preventDefault();
				var em = document.getElementById("email");
				var emval = $.trim(em.value);
				var at = 0;
				var dot = 0;
				for (var i = 0; i < emval.length; i++) {
					if (emval.charAt(i)== '@') {
						at++;
					} else if (emval.charAt(i)== '.') {
						dot++;
					}
				}
				if (at != 1 || dot < 1 || emval.length > 80) {
					em.classList.remove('is-valid');
					em.classList.add('is-invalid');
				} else {
					$.ajax({
						url: '/emcheck',
						data: $('#forgotform').serialize(),
						type: 'POST',
						success: function(response){
							var resp=JSON.parse(response);
							if (resp.aval == false) {
									em.classList.add('is-valid');
									em.classList.remove('is-invalid');
									document.getElementById("forgotform").submit();	
								} else {
									em.classList.remove('is-valid');
									em.classList.add('is-invalid');
								}
						},
						error: function(error){
							console.log(error);
						}
					});
				}
			}		
			function resetf() {
			event.preventDefault();
			var pw =document.getElementById("valPw");
			var conf = document.getElementById("valConf");
			var age = document.getElementById("valAge");
			var er = 0;
			var nums = 0;
			for (var i = 0; i < pw.value.length; i++) {
			  if (pw.value.charCodeAt(i)> 47 && pw.value.charCodeAt(i) < 58) {
				nums++;
			  }
			}
			if (pw.value.length < 6 || pw.value.length > 30 || nums == 0) {
				pw.classList.remove('is-valid');
				pw.classList.add('is-invalid');
				er = er + 1;
			} else {
				pw.classList.add('is-valid');
				pw.classList.remove('is-invalid');
			}
			if (conf.value.length == 0 || (conf.value != pw.value && conf.value.length != 0)) {
				conf.classList.remove('is-valid');
				conf.classList.add('is-invalid');
				er = er + 1;
			} else {
				conf.classList.add('is-valid');
				conf.classList.remove('is-invalid');
			}
			if (er == 0) {
				document.getElementById("resetform").submit();			
			}		
			}
			(function() {
			'use strict';
			window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
			  form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
				  event.preventDefault();
				  event.stopPropagation();
				}
				form.classList.add('was-validated');
			  }, false);
			});
			}, false);
			})();
		</script>
	</head>
	<body>
		<div class="cont">
			<nav class="navbar navbar-expand-md navbar-light bg-light border">
				<a class="navbar-brand" href="/">Orienteering.rate</a>
				<button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					{% if session['user'] %}
						<ul class="navbar-nav mr-auto mt-2">
							<li class="nav-item"><a class="nav-link" href="/new">{{ _("Add new event") }} </a></li>
							<li class="nav-item"><a class="nav-link" href="/ratings">{{ _("My ratings") }}</a></li>
							<li class="nav-item"><a class="nav-link" href="/events">{{ _("My events") }} </a></li>
							{% if session["user"] == 2 %} <li class="nav-item"><a class="nav-link" href="/allevents">All events </a></li><li class="nav-item"><a class="nav-link" href="/importapi">Import </a></li>{% endif%}
						</ul>
						<ul class="navbar-nav ml-auto mt-2">
							<li class="nav-item"><a class="nav-link" href="/en"><img src="../static/en.png"></a></li>
							<li class="nav-item"><a class="nav-link" href="/hu"><img src="../static/hu.png"></a></li>
							<li class="nav-item"><a class="nav-link" href="/profile">{{ _("Logged in as %(username)s", username=session['usern'] ) }}</a></li>
							<li class="nav-item"><a class="nav-link" href="/logout">{{ _("Log Out") }}</a></li>
						</ul>
					{% else %}
						<ul class="navbar-nav ml-auto mt-2">
							<li class="nav-item"><a class="nav-link" href="/en"><img src="../static/en.png"></a></li>
							<li class="nav-item"><a class="nav-link" href="/hu"><img src="../static/hu.png"></a></li>
							<li class="nav-item"><a class="nav-link" href="/register">{{ _("Register") }}</a></li>
							<li class="nav-item"><a class="nav-link" href="/login">{{ _("Log In") }} </a></li>
						</ul>
					{% endif %}
				</div>
			</nav>
			<div class="body">
				<div class="container">	
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
								  {{ message }} {% if category == "warning" %} <a href="/privacy">{{ _("More info ") }}</a> {%endif%}
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% block body %}{%endblock%}
				</div>
			</div>
			<div class="footer cente">
				{{ _("Created by") }} <a target="_blank" href="https://www.linkedin.com/in/samuel-fekete/">{{ _("Sámuel Fekete") }}</a>, 2019-2020&nbsp;|&nbsp;<a href="/privacy">{{ _("Privacy policy") }}</a> &nbsp;|&nbsp; <a target="_blank" href="https://github.com/Tschonti/orienteering.rate">GitHub repository</a>
			</div>
		</div>	
	</body>
</html>