{% extends "layout.html" %}

{% block title %}
    Orienteering.rate | {{ _("Log In") }}
{% endblock %}
{% block body %}
		<div class="panel panel-default felso">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-0 col-lg-4">
					</div>
					<div class="col-sm-12 col-lg-4">
						<h1> {{ _("Log In ") }}</h1>
						<form action="/login" method="post" id="loginform" novalidate>
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<div class="form-group">
								<input autocomplete="off" autofocus class="form-control" id="uname" name="username" placeholder='{{ _("Username") }}' type="text" oninput="changef(this)" required>
								<div class="valid-feedback">
									{{ _("Looks good!") }}
								</div>
								<div class="invalid-feedback">
									{{ _("Invalid or unused username.") }}
								</div>
							</div>
							<div class="form-group">
								<input class="form-control" name="password" id="password" placeholder='{{ _("Password") }}' type="password" oninput="changef(this)" required>
								<div class="valid-feedback">
									{{ _("Looks good!") }}
								</div>
								<div class="invalid-feedback">
									{{ _("Incorrect or invalid password.") }}
								</div>
							
								<input class="form-check-input" type="checkbox" value="1" id="defaultCheck1" name="remember">
								<label class="form-check-label kicsil" for="defaultCheck1">
								  {{ _("Remember me") }}
								</label>
							</div>
							<div class="forget"><a href="/forgotform">{{ _("Forgot password or username") }}</a></div>
							<button class="btn btn-success btn-block" onclick="loginf()" type="submit">{{ _("Log In") }}</button>
						</form>
					</div>
					<div class="col-sm-0 col-lg-4">
					</div>
				</div>
			</div>
		</div>	
{% endblock %}