{% extends "layout.html" %}

{% block title %}
    Orienteering.rate | {{ _("Privacy policy") }}
{% endblock %}
{% block body %}
		<div class="panel panel-default felso">
			<div class="panel-body">
				<h1>{{ _("Orienteering.rate's privacy policy") }}</h1>
				<h3>{{ _("Cookies") }}</h3>
				<p>{{ _("When you log in, we will set up several session-cookies to save your login information. If you log out of your account, the login cookies will be removed. If you checked 'remember me' before logging in, you'll be automatically logged in for 2 years, or until you log out. Your language preferences are also stored in cookies. These are deleted when you close the browser.") }}</p>
				<h3>{{ _("Who we share your data with") }}</h3>
				<p>{{ _("We do not share any personal data with anyone.") }}</p>
				<h3>{{ _("How long we retain your data") }}</h3>
				<p>{{ _("For users that register on our website, we store the personal information they provide in 
					their user profile indefinitely. If you create or rate an event, or leave a comment, they and their metadata are also retained indefinitely.
					 All users can see, edit, or delete their personal information and all data they've created on this site at any time (except they cannot change their email). 
					Website administrators can also see, edit or delete that information.") }}</p>
				<p>{{ _("If you have further questions please contact Sámuel Fekete at feketesamu(at)gmail(dot)com") }}</p>	
			</div>
		</div>	
{% endblock %}