{% extends "layout.html" %}

{% block title %}
    Orienteering.rate | {{ _("Register") }}
{% endblock %}
{% block body %}
		<div class="panel panel-default felso">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-0 col-lg-4">
					</div>
					<div class="col-sm-12 col-lg-4">
						<h1> {{ _("Register") }} </h1>
						<form action="/register" id="registerform" method="post" novalidate>
							<div class="form-group">
								<input autocomplete="off" autofocus class="form-control" id="valUname" name="username" placeholder='{{ _("Username") }}' type="text" oninput="changef(this)" required>
								<div class="valid-feedback">
									{{ _("Looks good!") }}
								</div>
								<div class="invalid-feedback">
									{{ _("Username is invalid or taken (3-30 characters)") }}
								</div>
							</div>
							<div class="form-group">
								<div class="row">	
									<div class="col-10 nopadl">	
										<input autocomplete="off"  class="form-control" id="valEm" name="email" placeholder='{{ _("Email adress") }}' type="email" oninput="changef(this)" required>
										<div class="valid-feedback">
											{{ _("Looks good!") }}
										</div>
										<div class="invalid-feedback">
											{{ _("This email is invalid or already in use. (max length: 80)") }}
										</div>
									</div>
									<div class="col-2 nopadr">	
										<i class="fas fa-question-circle zold" data-toggle="tooltip" data-placement="right" title='{{ _("Your email is only used to verify you. We will not send you any additional emails") }}'></i>
									</div>
								</div>		
							</div>
							<div class="form-group">
								<div class="row">	
									<div class="col-10 nopadl">	
										<input class="form-control" name="password" id="valPw" placeholder='{{ _("Password") }}' type="password" oninput="changef(this)" required>
										<div class="valid-feedback">
											{{ _("Looks good!") }}
										</div>
										<div class="invalid-feedback">
											{{ _("Please provide a valid password. (6-30 characters, must contain at least one number)") }}
								</div>
									</div>
									<div class="col-2 nopadr">	
										<i class="fas fa-question-circle zold" data-toggle="tooltip" data-placement="right" title='{{ _("6-30 characters, must contain at least one number") }}'></i>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input class="form-control"  id="valConf" name="confirmation" placeholder='{{ _("Confirm password") }}' type="password" oninput="changef(this)" required>
								<div class="valid-feedback">
									{{ _("Looks good!") }}
								</div>
								<div class="invalid-feedback">
									{{ _("Passwords don't match.") }}
								</div>
							</div>
							<div class="form-group">
								<select name="age" id="valAge" class="form-control" onchange="changef(this)" required>
									<option value="0" disabled selected>{{ _("Choose your age group") }}</option>
									<option value="1">{{ _("Youth") }} (-18)</option>
									<option value="2">{{ _("Elite") }} (19-34)</option>
									<option value="3">{{ _("Master") }} (35-)</option>
								</select>
								<div class="valid-feedback">
									{{ _("Looks good!") }}
								</div>
								<div class="invalid-feedback">
									{{ _("Please select an age group.") }}
								</div>
								<input class="form-check-input" type="checkbox" value="1" id="defaultCheck1" name="remember">
								<label class="form-check-label kicsil" for="defaultCheck1">
								  {{ _("Remember me") }}
								</label>
							</div>
							<button id="butt" name="butto" class="btn btn-success btn-block" onclick="registerf()" type="submit">{{ _("Register") }}</button>
						</form>
					</div>
					<div class="col-sm-0 col-lg-4">
					</div>
				</div>
			</div>
		</div>	
{% endblock %}