{% extends "layout.html" %}

{% block title %}
    Orienteering.rate | {{ _("Reset password") }}
{% endblock %}
{% block body %}
		<div class="panel panel-default felso">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-0 col-lg-4">
					</div>
					<div class="col-sm-12 col-lg-4">
						<h1>{{ _("Reset password") }} </h1>
						<form action="/resetform" id="resetform" method="post" novalidate>
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<div class="form-group">
								<div class="row">	
									<div class="col-10 nopadl">	
										<input class="form-control" name="password" id="valPw" placeholder='{{ _("Password") }}' type="password" oninput="changef(this)" required>
										<div class="valid-feedback">
											{{ _("Looks good!") }}
										</div>
										<div class="invalid-feedback">
											{{ _("Please provide a valid password. (6-30 characters, must contain at least one number)") }}
										</div>
									</div>
									<div class="col-2 nopadr">	
										<i class="fas fa-question-circle zold" data-toggle="tooltip" data-placement="right" title='{{ _("6-30 characters, must contain at least one number") }}'></i>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input class="form-control"  id="valConf" name="confirmation" placeholder='{{ _("Confirm password") }}' type="password" oninput="changef(this)" required>
								<div class="valid-feedback">
									{{ _("Looks good!") }}
								</div>
								<div class="invalid-feedback">
									{{ _("Passwords don't match.") }}
								</div>
							</div>
							<button id="butt" name="butto" class="btn btn-success btn-block" onclick="resetf()" type="submit">{{ _("Reset password") }}</button>
						</form>
					</div>
					<div class="col-sm-0 col-lg-4">
					</div>
				</div>
			</div>
		</div>	
{% endblock %}